/* header */

body{
    display: block;
    margin: 0 auto;
    padding: 0;
}

.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 50px;
    margin: 0 auto;
}

.headerLeft{
    display: flex;
}

.tabs{
    display: block;
    margin: 0;
    margin-top: 30px;
    padding: 0 20px;
    font-size: 40px;
}

/* main part */

.content{
    display: flex;
    flex-direction: column;
}

/* favorites */

.fav{
    color: #1677ff;
    font-weight: lighter;
    margin-right: 220px;
    font-size: 28px;
}
